# Scripts
function mkcd(){
    mkdir $1
    cd $1
}
function e(){
    tree -L $1
}
alias scan="sudo nmap -sP `ip a | grep 'wlan0' | grep 'inet' | awk '{print $2}'`"

function untar(){
    tar -zxvf $1
}

# Shortcuts
alias c="clear"
alias update="sudo apt-get update && sudo apt-get upgrade"
alias vimrc="$EDITOR ~/.vimrc"
alias zshrc="$EDITOR ~/.zshrc"

# Overwrites
alias vi="nvim"
alias vim="nvim"
alias mv="mv -i"
alias cp="cp -i"
alias mux='TERM=xterm-256color tmux attach || tmux -u' # Fixes dumb unicode bug with oh-my-zsh themes and tmux
alias ranger='ranger --choosedir=$HOME/rangerdir; LASTDIR=`cat $HOME/rangerdir`; rm -f $HOME/rangerdir; cd "$LASTDIR"'
alias lsa="ls -lAGhp --group-directories-first --color=always | awk '{print \$1,\$3,\$4,\$8}' | column -t"
alias ll="ls -lGhp --group-directories-first --color=always | awk '{print \$1,\$3,\$4,\$8}' | column -t"
alias match="find . -type d -path '*/node_modules/*' -prune -o -type d -path '*/\.git/*' -prune -o -type d -path '*/bundle/*' -prune -o -type d -path '*/tmp/*' -prune -o -type d -path '*/.*' -prune -o -print"
alias open="xdg-open"
alias cat=batcat
alias top=htop
alias du="ncdu --color dark -rr -x --exclude .git --exclude node_modules"
alias help='tldr'
