# Scripts
function mkcd () {
    mkdir $1
    cd $1
}

# SSH into AWS server
alias bixby='ssh -i ~/.ssh/bixby.pem ubuntu@ec2-54-68-200-127.us-west-2.compute.amazonaws.com'

# Shortcuts
alias c="clear"
alias j="jobs"
alias update="sudo apt-get update && sudo apt-get upgrade"
alias vimrc="$EDITOR ~/.vimrc"
alias zshrc="$EDITOR ~/.zshrc"

# Overwrites
alias vi="nvim"
alias vim="nvim"
alias mv="mv -i"
alias cp="cp -i"
alias tmux='tmux -u' # Fixes dumb unicode bug with oh-my-zsh themes and tmux
