[user]
  email = kyle.coberly@gmail.com
  name = Kyle Coberly
  username = kylecoberly
[github]
  user = kylecoberly
[color]
  ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = red
[alias]
  co = checkout
  cob = checkout -b
  c = commit
  cm = commit -m
  cam = commit -am
  st = status
  br = branch
  s = status -s
  sq = rebase -i HEAD~2
  graph = log --graph
[push]
  default = upstream
  followTags = true
[branch]
  autosetuprebase = always
[rerere]
  enabled = true
  s = "status -s"
[core]
  autocrlf = input
  editor = vim 
  filemode = false
  pager = batcat
  excludesfile = ~/.gitignore
  abbrev = 4
[log]
  decorate = short
  abbrevCommit = true
  showRoot = true
[credential]
  helper = cache
[merge]
  tool = vimdiff
[help]
  autocorrect = 1
[status]
  short = true
